{% load static %}



<!--<h3>Hello world</h3>
<img src="{% static 'images/Photo.jpg' %}" alt="My image">
-->


<!DOCTYPE html>
<html>
<head>
    <title>Идель Губайдуллин</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                 <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profidle-pic" src="{% static 'images/Photo.jpg' %}" alt="My image">
                    <hr>
                    <h4>Губайдуллин Идель</h4>
                    <p>+7(927)235-71-55</p>
                     <p>iidelveis@mail.ru</p>
                 </div>
            </div>

            <div class="col-md-9">
                  <div class="card card-body h-100 border-info">
                      <h4>Образование</h4>
                      <hr>
                      <p>Образование: ФГБОУ ВО «Уфимский государственный авиационный технический университет»</p>
                      <p>Дата окончания: 2019</p>
                      <p>Уровень образования: Бакалавр</p>
                      <p>Факультет: АДЭТ</p>
                      <p>Специальность: Двигатели летательных аппаратов</p>
                      <p>Форма обучения: Дневая/Очная</p>
                  </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                 <div class="card card-body h-100">
                    <h4>Личная информация</h4>
                      <hr>
                      <p>Дата рождения: 31 января 1997 г.</p>
                      <p>Пол: Мужской</p>
                      <p>Семейное положение: Не женат</p>
                      <p>Гражданство: Россия</p>
                      <p>Город проживания: Уфа</p>
                 </div>

            </div>

            <div class="col-md-6">
                  <div class="card card-body h-100">
                      <h4>Ключевые навыки</h4>
                      <hr>
                      <p>Владение программами Pycharm, SolidWorks, Adobe Photoshop, Ansys CFX, Siemens NX, КОМПАС, MS Office...</p>
                      <p>Знание языков программирования Python (в частности библиотеки NumPy, Tkinter), Фреймворк Django, HTML, CSS, базы данных SQLite, системы управления версиями Git...</p>
                  </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                 <div class="card card-body">
                     <h4>Дополнительная информация</h4>
                     <hr>
                     <p>Уровень английского: Intermediate</p>
                     <p>Магистр 2 курса по специальности "Автоматизация технологических процессов и производств"</p>
                </div>
            </div>
    </div>

</body>
</html>